.grid {
	height: 470px;
	margin-top: 10px;
}
.colu1 {
	width: 190px;
	height: 470px;
	margin-right: 10px;
	padding-top: 10px;
	background-color: #fff;
	/* float: left; */
	box-sizing: border-box;
}
.colu1 li {
	line-height: 25px;
	padding-left: 18px;
}
.colu1 li:hover {
	background-color: rgba(0,0,0,0.2);
}
.colu1 li a {
	color: #333;
}
.colu1 li a:hover {
	color: #c81623;
}
.colu2 {
	width: 800px;
	height: 470px;
	float: left;
}
.colu2_in_left {
	position: relative;
	/* float: left; */
	width: 590px;
}
.colu2_in_left .bg {
	display: block;
	width: 590px;
	height: 470px;
	/* background-color: pink; */
	background: url(../images/think.jpg);
}
.colu2_in_left .icon-left,
.colu2_in_left .icon-right {
	display: block;
	width: 25px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #f0eae4;
	font-size: 14px;
	background-color: rgba(0,0,0,0.15);
	font-family: icomoon;
	position: absolute;
}
.colu2_in_left .icon-left:hover,
.colu2_in_left .icon-right:hover {
	background-color: rgba(0,0,0,0.4);
}
.colu2_in_left .icon-left {
	top: 50%;
	margin-top: -17px;
	border-radius: 0 50% 50% 0;
}
.colu2_in_left .icon-right {
	top: 50%;
	margin-top: -17px;
	right: 0;
	border-radius: 50% 0 0 50%;
}
.colu2_in_left ul {
	width: 120px;
	height: 16px;
	position: absolute;
	left: 28px;
	bottom: 18px;
}
.colu2_in_left li {
	float: left;
	width: 10px;
	height: 10px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 50%;
	margin: 0 2px;
	cursor: pointer;
}
.colu2_in_left .current {
	background-color: orange;
}
.colu2_in_right {
	width: 190px;
	height: 470px;
	/* float: left; */
	background-color: #fff;
	margin: 0 10px;
}
.colu2_in_right a {
	display: block;
	width: 190px;
	height: 150px;
	background: url(../images/right01.jpg) no-repeat;
	background-size: 190px 150px;
}
.colu2_in_right li:nth-child(2) a {
	margin: 10px 0;
	background: url(../images/right02.jpg) no-repeat;
	background-size: 190px 150px;
}
.colu2_in_right li:nth-child(3) a {
	background: url(../images/right03.jpg) no-repeat;
	background-size: 190px 150px;
}
.colu3 {
	width: 190px;
	height: 470px;
	background-color: #fff;
	padding: 14px 0;
	box-sizing: border-box;
}
.login {
	width: 162px;
	height: 86px;
	position: relative;
	padding: 0 14px;
}
.news {
	width: 190px;
	height: 130px;
	padding: 5px 14px;
	/* margin: 0 14px; */
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.expand {
	height: 223px;
	box-sizing: border-box;
	padding-top: 5px;
}
.login_t {
	width: 100px;
	/* 强制行内显示 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 60px;
}
.login_t a:first-child {
	color: #666;
}
.login_t a {
	color: #333;
	line-height: 20px;
}
.login_t span {
	font-size: 12px;
}
.login_t a:hover {
	color: #c81623;
}
.login .login_icon {
	display: block;
	height: 40px;
	width: 40px;
	background: url(../images/login-icon.png) no-repeat;
	background-size: 40px 40px;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 15px;
}
.login_b a {
	display: block;
	width: 70px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
	background-color: #e1251b;
	border-radius: 20px;
	color: #fcf8ff;
	font-size: 12px;
}
.login_b .newone a:hover,
.login_b .vip a:hover {
	background-color: #c81623;
}
.login_b .vip a {
	color: #e5bd56;
	background-color: #363634;
}
.news-t {
	margin: 10px 0;
}
.news .more span {
	font-family: icomoon;
}
.news_b {
	margin-top: 5px;
}
.news_b li {
	width: 160px;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news_b li span {
	display: inline-block;
	width: 36px;
	height: 16px;
	color: #e1251b;
	text-align: center;
	background-color: rgba(255,0,0,.1);
	margin-right: 6px;
}
.expand li {
	float: left;
	width: 63px;
	height: 55px;
}
.expand li span {
	display: block;
}
.expand .info_icon {
	width: 28px;
	height: 28px;
	margin-left: 18px;
	background: url(../images/sprite_fs.png) no-repeat 0 -85px;
}
.expand li:nth-child(2) .info_icon {
	background: url(../images/sprite_fs.png) no-repeat 0 -42px;
}
.expand li:nth-child(3) .info_icon {
	background: url(../images/sprite_fs.png) no-repeat -42px 0;
}
.expand .info {
	width: 63px;
	height: 27px;
	line-height: 27px;
	text-align: center;
}